.subscription-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F7F3E9; /* Light sand color */
  padding: 1rem;
}

.subscription-card {
  background-color: #FFF;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.subscription-icon {
  margin-bottom: 1rem;
}

.success-icon {
  width: 100px;
  height: 100px;
}

.subscription-buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.subscription-button {
  background: linear-gradient(to right, #302E2F, #635f61);
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.subscription-button:hover {
  background: linear-gradient(to right,  #635f61, #302E2F);
}
